<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="not-ie" lang="en"> <!--<![endif]-->
<!--
	ucorpora by freshdesignweb.com
	Twitter: https://twitter.com/freshdesignweb
	https://www.freshdesignweb.com/ucorpora/
-->
<head>
	<!-- Basic Meta Tags -->
  <meta charset="utf-8">
  <title>{{title}}</title>
	<meta name="description" content="ucorpora demo - Free Business Corporate HTML Template">
	<meta name="keywords" content="ucorpora, ucorpora demo, free, template, corporate, clean, modern, bootstrap, creative, design">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--[if (gte IE 9)|!(IE)]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <![endif]--> 

  <!-- Favicon -->
  <link href="/img/favicon.ico" rel="icon" type="image/png">

  <!-- Styles 
  <link href="/css/styles.css" rel="stylesheet">
  <link href="/css/bootstrap-override.css" rel="stylesheet">
  

   Font Avesome Styles 
  <link href="/css/font-awesome/font-awesome.css" rel="stylesheet">-->

<!-- bootstrap css -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<!--[if IE 7]>
		<link href="/css/font-awesome/font-awesome-ie7.min.css" rel="stylesheet">
	<![endif]-->

  <!-- FlexSlider Style 
  <link rel="stylesheet" href="/css/flexslider.css" type="text/css" media="screen">-->

	<!-- Internet Explorer condition - HTML5 shim, for IE6-8 support of HTML5 elements
	[if lt IE 9]>-->
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<!--[endif]--> 

</head>       
<body>
  <!-- Header -->