<header class = "container-fluid">
<nav class="nav nav- nav-fill"> 
<a class="nav-item nav-link" href="/">Home</a>
<a class="nav-item nav-link" href="/#about">About Us</a>
 <a class="nav-item nav-link" href="/faq">FAQ</a>
 {{#if isAuthenticated}}
 <a class="nav-item nav-link" href="/logout">Log Out</a>
 <a class="nav-item nav-link" href="/dashboard">Dashboard</a>
 {{else}}
 <a class="nav-item nav-link" href="/register">Register</a>
 <a class="nav-item nav-link" href="/login">Log In</a>
 {{/if}}
  <form method = "post" action = "/simplesearch/{{service}}" class="form-inline my-2 my-lg-0"> 
 <input class="form-control mr-sm-2" type="search" name = "service" placeholder="Search" aria-label="Search">
 <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
 </form>
   </nav>
   </header>