  <!-- Footer -->
  <footer id="footer">
    <div class="container">
      <div class="row">
        <div id = "#contact" class="span5">
        <h3>Contact Form</h3>
        <div>         
          <form class="form-main" name="contact" id="contact" action="/contact" method="post">
           
            <div class = "form-group">
            <label for = "name">Full Name</label>
            <input type="text" name="name" id="name" class = "form-control" placeholder ="Enter your name please" required/>
         </div>   
           <div class = "form-group">
            <label for = "email">Email</label>
            <input type="text" name="email" id="email" class = "form-control" placeholder ="Enter your email please" required/>
         </div> 
          <div class = "form-group">
            <label for = "subject">Subject</label>
            <input type="text" name="subject" id="subject" class = "form-control" placeholder ="Enter subject please" required/>
         </div>   
          <div class = "form-group">
          	<textarea class ="form-control" name ="text" placeholder = "What do you want to talk to us about?" required/></textarea>
          </div>  
          <div class="form-group">
          <button class = "btn btn-primary" class = "form-control" type= "submit">Submit</button> 
          </div>
          
          </form>
        </div>
        </div>
        <div class="span3 offset3">
          <h3>Address</h3>
          81 Sunnyvale Street<br>
          Los Angeles, CA 90185<br>
          United States<br>
          <br>
          <i class="icon-phone"></i>+01 880 555 999<br>
          <i class="icon-envelope"></i><a href="mailto:support@example.com">support@example.com</a><br>
          <i class="icon-home"></i><a href="#">www.example.com</a>
          
          <div class="row space40"></div>  

          <a href="#" class="social-network sn2 behance"></a>
          <a href="#" class="social-network sn2 facebook"></a>
          <a href="#" class="social-network sn2 pinterest"></a>
          <a href="#" class="social-network sn2 flickr"></a>
          <a href="#" class="social-network sn2 dribbble"></a>
          <a href="#" class="social-network sn2 lastfm"></a>
          <a href="#" class="social-network sn2 forrst"></a>
          <a href="#" class="social-network sn2 xing"></a>      
        </div>
      </div>
      
      <div class="row space50"></div>
      <div class="row">
        <div class="span6">
          <div class="logo-footer">
          copyright KELIDEX SUPRA GLOBAL SERVICES 2018-<script>document.write(new Date().getFullYear())</script>
          </div>                       
        </div>
      <!--  <div class="span6 right">
          &copy; 2020. All rights reserved.
        </div>-->
      </div>

    </div>
  </footer>
  <!-- Footer End -->

  <!-- JavaScripts -->
  <script type="text/javascript" src="/js/jquery-1.8.3.min.js"></script> 
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>  
  <script type="text/javascript" src="/js/functions.js"></script>
  <script type="text/javascript" defer src="js/jquery.flexslider.js"></script>

</body>
</html>
  